[access]
	inheritFrom = ml/ethos-u
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group ethos-u-owners
	read = group Anonymous Users
	read = group Registered Users
	submit = group ethos-u-core-driver-approvers
	submitAs = group ethos-u-core-driver-approvers
	create = group ethos-u-core-driver-approvers
	forgeCommitter = group ethos-u-core-driver-approvers
[project]
	description = Ethos-u core driver
